<p id="notice"><%= notice %></p>

<p>
  <strong>Height:</strong>
  <%= @block.height %>
</p>

<p>
  <strong>Hash:</strong>
  <%= @block.block_hash %>
</p>

<%= link_to 'Edit', edit_block_path(@block) %> |
<%= link_to 'Back', blocks_path %>
